
/* SECTION: COMO FUNCIONA? */
.main-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.como-func{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.como-func h2{
    font-family: 'ubuntu';
    font-weight: 650;
    font-size: 3rem;
    margin: 0;
    color: rgb(0, 201, 255);;
    text-align: center;
} 

.como-func p{
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.7rem;
    color:rgb(208, 206, 206);
    text-align: center;
}


.func-icones{
    margin: 40px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.func-div{
    width: 28%;
    text-align: center;
}

.func-div p{
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.1rem;
    color:rgb(175, 171, 171);
    text-align: center;
}

.func-div h3{
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: bolder;
    font-size: 1.7rem;
    color: rgb(0, 201, 255);
    border-radius: 50%;
}

.func-div img{
    width: 25%;
}