header{
    height: 70px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    position: fixed;
    margin: 0;
    font-family: 'ubuntu'; 
}

header>a{
    margin-left: 3vw;
    display: flex;
    border-radius: 100px;
}

header img{
    height: 35px;
    transition: .8s;
}

header img:hover{
    transform: scale(1.2);
}   

header nav{
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 3vw;
}

header nav a{
    text-decoration: none;
    color: rgb(0, 113, 141);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0 18px;
    box-sizing: border-box;
}

header nav a:hover{
    color: rgb(0, 201, 255);
}


header nav button{
    max-width: 300px;
    min-width: 120px;
    min-height: 30px;
    max-height: 45px;
    padding: 8px;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    color: rgb(0, 113, 141);
    font-family: 'ubuntu';
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.8s; 
    outline: none;
}

header nav button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 201, 255, 0.5);
    border: 1px solid rgb(0, 201, 255);
    color: rgba(0, 201, 255)
}

.hamburguer{
    margin-right: 0.5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 11px;
    height: 30px;
    width: 35px;
    cursor: pointer;
}

.barrinha{
    width: 30px;
    height: 2px;
    background-color: black;
    transition: 0.8s;
}

.barrinha:nth-child(2){
    margin: 8px;
}

.barrinha2{
    transform: rotate(315deg);
    margin: 0;
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
}

.barrinha2:nth-child(2){
    transform: rotate(225deg);
    margin: 0;
}


@media screen and (max-width: 720px) {
    header{
        height: 50px;
    }
    
    header img{
        height: 28px;
    }

    header nav a{
        color: black;
    }
    
    .invisivel{
        position: absolute;
        left: 0;
        top: -823px;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        transition: 1s;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        animation: colorir 5s infinite;
    }

    .mostrando{
        top: 0;
    }

    nav a{
        color: black;
        font-size: 1.8rem;  
        padding: 0 18px;
    }

    nav a:hover{
        color: black;
    }

    header nav button{
        color: black;
        text-align: center;
        background-color: transparent;
        height: 0;
        font-family: 'ubuntu';
        text-align: center;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
    }

    nav button:hover{
    transform: none;
    box-shadow: none;
    border: none;
    color: black;
    
    }

    .hamburguer{
        display: flex;
    }
}

@keyframes colorir{
    0%{
        background: rgb(0, 201, 255)
    }

    30%{
        background: rgb(204, 251, 0)
    }
    60%{
        background: rgb(0, 170, 212)
    }
    100%{
        background: rgb(0, 201, 255)
    }
}


