/* SESSÃO 1 */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.imgHeader img {
    margin-left: 50px;
    height: 78vh;
    width: 47vw;
}


/* BOTAO SOCIAIS */
.icones-header {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: rgb(0, 201, 255);
}

.icones-header i {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 48px;
    width: 48px;
    border-radius: 100px;
    border: 1px solid rgb(0, 201, 255);
    cursor: pointer;
    transition: .2s ease;   
}

.icones-header i:hover {
    transition: .2s ease;
    background-color:rgb(0, 201, 255);
    color: white;
}







/* TEXTO CHAMADA */
.chamadaTexto {
    
    color: rgb(0, 170, 212); /*Azul médio*/
    margin: 0;
    width: 400px;
    height: 290px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.chamadaTexto h1 {
    font-family: 'ubuntu';
    font-weight: 650;
    font-size: 4.5rem;
    margin: 0;
    
}

.chamadaTexto p {
    margin-top: 20px;
    width: 580px;
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.7rem;
    color: rgb(208, 206, 206);
    
}

.buttom-icones button {
    max-width: 250px;
    min-width: 100%;
    max-height: 75px;
    min-height: 45px;
    border: none;
    border-radius: 100px;
    border: 1px solid rgb(0, 201, 255);
    color: rgb(208, 206, 206);
    font-family: 'ubuntu';
    font-size: 1.4rem;
    background-color: white;
    cursor: pointer;
    padding: 25px 0;
    font-weight: bolder than 300;
    transition: 0.2s ease;
}


.buttom-icones button:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.1);
    color: rgb(0, 201, 255);
    
    
}

.buttom-icones button:focus {
    outline: none;
}

.buttom-icones{
    width: 80%;
} 



/* 2 BOXES BRANCOS COM BOTAO */
.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    animation: cor 10s;
    animation-iteration-count: infinite;
}

.box-pq-jovem{
    display: flex;
    margin: 0;
    width: 100%;
    height: 55%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    
}

.box-text-pq{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

@keyframes cor {
    0%{background-color: rgb(0, 201, 255)}
    30%{background-color: rgb(204,251,0)}
    60%{background-color: rgb(0,170,212)}
    100%{background-color: rgb(0, 201, 255)}
}
.box-incentivo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 400px;
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    border-radius: 10px; 
}


.box-incentivo p{
    margin: 10px;
    width: 50%;
    text-align: center;
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: rgb(208, 206, 206);
}

.box-incentivo span{
    word-wrap:normal;
    font-family: 'ubuntu';  
    font-weight: bolder;
    font-size: 2rem;
    color: rgb(0, 201, 255);;
}

.buttom-incentivo {
    width: 200px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    border: 1px solid rgb(0, 201, 255);
    color: rgb(208, 206, 206);
    font-family: 'ubuntu';
    font-size: 1.4rem;
    background-color: white;
    cursor: pointer;
    font-weight: bolder than 300;
    
}

.buttom-incentivo:hover {
    transition: 0.1s ease;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.1);
    color: rgb(0, 201, 255);
    
}

.buttom-incentivo:focus {
    outline: none;
}


.text-pq h2{
    font-family: 'ubuntu';
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0;
    color: white;
}


.text-pq p{
    margin-top: 20px;
    width: 680px;
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.7rem;
    color:white;
    text-align: justify;
}

.imgTextPq{
    height: 40%;
    width: 10%;
    display: flex;
    justify-content: center;
}

.imgTextPq img{
    height: 90%;
}





/* SECTION: COMO FUNCIONA? */
.main-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.como-func{
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.como-func h2{
    font-family: 'ubuntu';
    font-weight: 650;
    font-size: 3rem;
    margin: 0;
    color: rgb(0, 201, 255);;
    text-align: center;
} 

.como-func p{
    width: 100%;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.3rem;
    color:rgb(208, 206, 206);
    text-align: center;
}


.func-icones{
    
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.func-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 200px;
    text-align: center;
}

.func-div p{
    
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.1rem;
    color:rgb(175, 171, 171);
    text-align: center;
}

.func-div h3{
    font-family: 'ubuntu';
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(0, 201, 255);
    border-radius: 50%;
}

.func-div img{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    height: 55px;
    width: 65px;
}

.img-border{
    height: 70px;
    width: 100px;
    border-radius: 100px;
    background-color: #f6f6f6;
}




/* DEPOIMENTO */
.main-depoimento{
    padding: 100px;
    background-color: #f1f1f1;
    
}



.bloco-depoimento{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2{
    font-family: 'ubuntu';
    font-weight: 550;
    font-size: 4rem;
    margin: 0;
    color:rgb(0, 201, 255);
    margin-left: 25px;
}

h3{
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
    border-radius: 50%;
    width: 80%;
    margin: 0;
}

p{
    width: 80%;
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.375rem;
    color:rgb(175, 171, 171);
}

.depoimento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 27%;
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    border-radius: 10px; 
    margin: 0;
    transition: .3s;
}

.depoimento:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.perfil-depoimento{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.perfil-depoimento img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.perfil-depoimento p{
    width: 100%;
    font-size: 1.2rem;
    margin: 10px 0;
}

.perfil-depoimento h4{
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    margin: 10px 0;
}

.perfil-depoimento span{
    color: rgb(0, 201, 255);
    font-weight: bold;
}

.img-depoi{
    width: 30%;
}

#perfil{
    width: 70%;
}




/* SECTION: EMPRESAS */
.main-empresa{
    background-color: white;
    width: 100vw;
    height: 60vh;
}

.container-empresa{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.img-empresa{
    width: 70%;
    height: 70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.img-empresa img{
    width: 25%;
    height: 12%;
    margin: 20px;
}

.text-empresa{
    width: 55%;
}

.text-empresa p{
    margin-top: 20px;
    width: 680px;
    word-wrap:normal;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 1.7rem;
    color:rgb(208, 206, 206);
    text-align: justify;
    margin-left: 25px;
}






@media screen and (max-width: 568px) {
    
    .header-container {
        justify-content: space-between;
        width: 100vw;
        /* background-image: url(../img/home/alunos.png); */
        background-image: url(../img/home/alunos.png);
        background-color: rgba(0, 0, 0, 0.815);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: 110%;
        background-position-y: 50%;
    }
    
    .buttom-icones > button{display: none;}
    .imgHeader img {
        margin-left: 50px;
        height: 78vh;
        width: 47vw;
    }
    
    .imgHeader{display: none;}
    .chamadaTexto{margin-left: 20px; opacity: 1;} 
    .chamadaTexto h1{
        font-size: 3rem; 
    }
    
    .chamadaTexto p {
        font-size: 1.2rem;
        word-break: break;
        color: #fff;
        width: 80%; 
    }
    .icones-header{align-content: flex-start; justify-content: flex-start;}
    .icones-header i {margin: 10px;}
    
    .main-header {
        width: 100vw;            display: flex;
        flex-direction: column;
        margin: 0; 
        padding: 0;  background-color: white;
        height: 60vh;
    }
    
    
    /* BOX BRANCA */
    .box-text-pq{width: 100vw; display: flex;justify-content: space-around; align-items: center;}
    .text-pq{
        margin: 30px;
        flex-direction: column;
        display: flex;
        justify-content: center; 
        align-items: center;;
    }
    .text-pq h2 {font-size: 2.4rem;}
    .text-pq p{font-size: 1.2rem; word-wrap: break-word; text-align: center; width: 90%;}
    .text-pq img{width: 50%;}
    
    .box-pq-jovem{flex-direction: column;}
    .box-incentivo{ 
        height: 280px;
        margin: 10px;}
        .box-incentivo > p > span {font-size: 1.3rem;}
        .box-incentivo p {font-size: 1.2rem;}
        .box-incentivo button {padding: 5px; height: 30%; width: 60%; font-size: 1.2rem}
        .box-incentivo button:hover{transform: scale(1)}
        /* COMO FUNCIONA */
        .main-section { width: 100vw; background-color: beige}
        .como-func{width: 90%; justify-content: space-around}
        .como-func h2 {font-size: 2.2rem; margin: 10px}
        .como-func p {font-size: 1.11rem;}
        .func-icones{flex-direction: column; justify-content: space-around; }
        .func-div{width: 100%;}
        .func-div p {font-size: 1rem}
        
        
        /* DEPOIMENTO */
        .main-depoimento{ width: 100vw; display: flex;
            justify-content: center;
            align-items: center; padding: 0;}
            .main-depoimento h2{font-size: 2.1rem;  margin: 10px;}
            .bloco-depoimento {flex-direction: column}
            .depoimento {width: 90%; height: 80%;; margin: 20px; box-sizing: border-box;}
            .depoimento:hover{transform: scale(1)}
            .depoimento h3{font-size: 1.3rem; margin: 5px;}
            .perfil{font-size: 1.2rem;}
            .img-depoi img{width: 48px; height: 48px;}
            .depoimento p {font-size: 0.9rem; word-wrap: break-word; margin: 0; padding: 0;}
            #perfil > h4, p, span {font-size: 1.2rem; margin: 0; padding: 0;
            }
            .perfil-depoimento span{font-size: 1.1rem;}
            
            /* EMPRESAS */
            .text-empresa{width: 80vw;}
            .main-empresa{width: 100vw}
            .container-empresa {
                flex-direction: column;
                width: 100%;
                background-color: #f7f7f7;
            }
            .container-empresa h2 {
                font-size: 2.4rem;
            }
            .container-empresa p {
                font-size: 1.2rem;
                width: 100%;
            }
        }