body { 
    padding: 0;
    margin: 0;
    display: grid; 
    grid-template-areas: "header header" 
    "nav nav" 
    "main main"
    "section section"
    "footer footer";
    /* PESSOAS, AQUI ESTÁ A ALTURA DE CADA ELEMENTO EM ORDEM, OU SEJA, 
    O GRID-TEMPLATE-ROWS ESTÁ DIZENDO QUE O HEADER TEM 65VH, A NAV 0VH(É MELHOR PQ EU POSSO MODIFICAR)
    E ASSIM EM DIANTE... */
    grid-template-rows:100vh 0vh 100vh 100vh 20vh;
    
    /* GRID GAP CORRESPONDE AO ESPAÇO DE CADA ELEMENTO DA GRID */
    grid-gap: 1rem; 
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'ubuntu';    
}



.main-header {
    grid-area: header; margin: 0;
    padding: 0;  background-color: white;
}

.main-nav{
    grid-area: nav; margin: 0;
    padding: 0;
    
}

.main-nav img:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}

.main-section {
    grid-area: section; background-color: white;
    
}

.main-content {
    grid-area: main; 
    
}

.main-depoimento {
    grid-area: section; background-color: #eeeeee;
    
}

.main-footer {
    grid-area: footer; background-color: palegreen;
    
}



/* RESPONSIVIDADE DA GRID */
@media screen and (max-width: 768px) {
    
    body{
        grid-template-areas: "header" "nav" "main" "section"  "footer";
    }
    .main-content {flex-direction: column;
    }
}